{% extends "parent.html" %}

{% block child %}

<div class="ui top attached active tab segment" >
<h3 class="ui horizontal divider header">
  <i class="big child  icon"></i>
  About Us
</h3>
<div class="ui basic label">Faculty Coordinator</div>
<div class="centered card">
    <div class="image">
      <img src="/static/images/justen.jpg">
    </div>
    <div class="content">
      <div class="header">Dr. Manish K. Thakur</div>
      <div class="meta">
        <a>Email id: manish.thakur@jiit.ac.in</a>
      </div>
      <!-- <div class="description">
        Matthew is an interior designer living in New York.
      </div> -->
    </div>
    <!-- <div class="extra content">
      <span class="right floated">
        Joined in 2013
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
    </div> -->
  </div>

<div class="ui special link cards">
  <div class="card">
    <div class="blurring dimmable circular image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div  class="ui primary button">Facebook</div>
            <div class="ui primary button">GitHub</div>

          </div>
        </div>
      </div>
      <img src="/static/images/justen.jpg">
    </div>
    <div class="content">
      <a class="header">Tanmay Datta</a>
      <div class="meta">
        <span class="date">Back-End and Front-End Developer</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        temp
      </a>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable circular image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div  class="ui primary button">Facebook</div>
            <div class="ui primary button">GitHub</div>

          </div>
        </div>
      </div>
      <img src="/static/images/justen.jpg">
    </div>
    <div class="content">
      <a class="header">Tanmay Datta</a>
      <div class="meta">
        <span class="date">Back-End Developer</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        temp
      </a>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable circular image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div  class="ui primary button">Facebook</div>
            <div class="ui primary button">GitHub</div>

          </div>
        </div>
      </div>
      <img src="/static/images/justen.jpg">
    </div>
    <div class="content">
      <a class="header">Tanmay Datta</a>
      <div class="meta">
        <span class="date">Back-End Developer</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        temp
      </a>
    </div>
  </div>
  <div class="card">
    <div class="blurring dimmable circular image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div  class="ui primary button">Facebook</div>
            <div class="ui primary button">GitHub</div>

          </div>
        </div>
      </div>
      <img src="/static/images/justen.jpg">
    </div>
    <div class="content">
      <a class="header">Tanmay Datta</a>
      <div class="meta">
        <span class="date">Back-End Developer</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        temp
      </a>
    </div>
  </div>
  
  
</div>
</div>

  <script type="text/javascript">
     $('#about_us_tab').addClass('active');
     $('.special.cards .image').dimmer({
  on: 'hover'
});
   </script>
{% endblock %}