{% extends "parent.html" %} {% block child %}
<div class="ui top attached active tab segment">
    <h3 class="ui horizontal divider header">
  <i class="huge child  icon"></i>
  About Us
</h3>
    <div class="ui center aligned compact  segment" style="margin-left:35%">
        <div class="ui basic large teal label">Faculty Coordinator</div>
        <br>
        <br>
        <img class="ui medium circular  image" src="/static/images/mkt_sir.jpg" style="height:20em">
        <div class="content">
            <h2 class="header">Dr. Manish K. Thakur</h2>
            <div class="meta">
                <a>Email id: manish.thakur@jiit.ac.in</a>
            </div>
        </div>
    </div>
    <h2 class="ui horizontal divider header">
  <i class="big student icon"></i>
  Developers
</h2>
    <div class="ui four column doubling grid container">
        <div class="column">
            <div class="ui blurring dimmable circular image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <a href="https://www.facebook.com/Programmer007Datta?fref=ts" class="ui circular facebook icon button">
                                <i class="facebook icon"></i>
                            </a>
                            <a href="https://github.com/tanmaydatta" class="ui circular  icon button">
                                <i class="github alternate icon"></i>
                            </a>
                            <br>
                            <br>
                            <span class="ui red large label">
                                <i class="google icon"></i>tanmaydatta@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
                <img src="/static/images/tanmay.jpg">
            </div>
            <div class="content">
                <h2 class="ui center aligned header">Tanmay Datta</h2>
            </div>
            <h5 class="extra  content">
                <a>
                    <i class="student icon"></i>Back-End and Front-End Developer
                </a>
            </h5>
        </div>
        <div class="column">
            <div class="ui blurring dimmable circular image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <a href="https://www.facebook.com/naman.sancheti.35" class="ui circular facebook icon button">
                                <i class="facebook icon"></i>
                            </a>
                            <a href="https://github.com/namansancheti" class="ui circular  icon button">
                                <i class="github alternate icon"></i>
                            </a>
                            <br>
                            <br>
                            <span class="ui red large label">
                                <i class="google icon"></i>naman.sancheti@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
                <img src="/static/images/naman.jpg">
            </div>
            <div class="content">
                <h2 class="ui center aligned header">Naman Sancheti</h2>
            </div>
            <h5 class="extra  content">
                <a>
                    <i class="student icon"></i>App Developer
                </a>
            </h5>
        </div>
        <div class="column">
            <div class="ui blurring dimmable circular image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <a href="https://www.facebook.com/lovishm21?fref=ts" class="ui circular facebook icon button">
                                <i class="facebook icon"></i>
                            </a>
                            <a href="https://github.com/underscore21" class="ui circular  icon button">
                                <i class="github alternate icon"></i>
                            </a>
                            <br>
                            <br>
                            <span class="ui red large label">
                                <i class="google icon"></i>lovishmittal21@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
                <img src="/static/images/lovish.jpg">
            </div>
            <div class="content">
                <h2 class="ui center aligned header">Lovish Mittal</h2>
            </div>
            <h5 class="extra  content">
                <a>
                    <i class="student icon"></i>Front-End Developer
                </a>
            </h5>
        </div>
        <div class="column">
            <div class="ui blurring dimmable circular image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <a href="https://www.facebook.com/nirmit.goyal.7" class="ui circular facebook icon button">
                                <i class="facebook icon"></i>
                            </a>
                            <a href="https://github.com/nirmitgoyal" class="ui circular  icon button">
                                <i class="github alternate icon"></i>
                            </a>
                            <br>
                            <br>
                            <span class="ui red large label">
                                <i class="google icon"></i>nirmitgoyal.goyal@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
                <img src="/static/images/nirmit.jpg">
            </div>
            <div class="content">
                <h2 class="ui center aligned header">Nirmit Goyal</h2>
            </div>
            <h5 class="extra  content">
                <a>
                    <i class="student icon"></i>Front-End Developer
                </a>
            </h5>
        </div>
    </div>
    <br><br>
    <label>View Coordinators:</label>
    <div class="ui fluid search selection dropdown">
        <input type="visible" name="coordinators">
        <i class="dropdown icon"></i>
        <div class="default text">View Coordinators </div>
        <div class="blue menu">
            <div class="item" data-value="2015"><i class="users icon"></i>2015 </div>
            <div class="item" data-value="2014"><i class="users icon"></i>2014</div>
            <div class="item" data-value="2013"><i class="users icon"></i>2013</div>
            <div class="item" data-value="2012"><i class="users icon"></i>2012 </div>
            <div class="item" data-value="2011"><i class="users icon"></i>2011 </div>
        </div>
    </div>
    <div class="ui segment"></div>
    <br><br><br><br><br><br><br><br>
    
</div>
<script type="text/javascript">
$('.ui.dropdown')
    .dropdown();

$('#about_us_tab').addClass('active');

$('.image').dimmer({
    on: 'hover'
});
</script>
{% endblock %}
