{% extends "parent.html" %} {% block child %}
<div class="ui top attached active tab segment">
    <h3 class="ui horizontal divider header">
  <i class="huge child  icon"></i>
  About Us
</h3>
    <div class="ui center aligned horizontal compact segments" >
    <div class="ui center aligned compact segment">
    </div>
    <div class="ui center aligned compact segment">
     <div class="ui basic large teal top attached label">Faculty Coordinator</div>
        <div class="ui blurring dimmable circular  link image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <a href="http://www.jiit.ac.in/faculty_jiit.php?id=16637414&dep=cse&page=1" target="_blank" class="ui left blue icon large button">
                            <i class="large file image outline icon"></i> Profile
                        </a>
                        <br>
                        <br>
                        <a href="https://in.linkedin.com/pub/dr-manish-k-thakur/3b/881/3a3" target="_blank" class="ui circular  icon button">
                            <i class="linkedin square blue large  icon"></i>
                        </a>
                        <br>
                        <br>
                        <span class="ui red large label">
                                <i class="mail icon"></i>manish.thakur@jiit.ac.in
                            </span>
                    </div>
                </div>
            </div>
            <img src="/static/images/mkt_sir.jpg" style="width:20em;height:20em">
        </div>
        <div class="content">
            <h3 class="ui center aligned header">Dr. Manish K. Thakur</h3>
        </div>
    </div>
    <div class="ui center aligned segment" style="width:10em">    
    <!-- <div class="ui vertical divider">
    and
  </div> -->
    </div>    

    <div class="ui center aligned compact segment">
     <div class="ui basic large teal top attached label">Technical Advisor</div>
        <div class="ui blurring dimmable circular  link image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <a href="http://www.jiit.ac.in/faculty_jiit.php?id=5836&dep=cse&page=4" target="_blank" class="ui left blue icon large button">
                            <i class="large file image outline icon"></i> Profile
                        </a>
                        <br>
                        <br>
                        <a href="" target="_blank" class="ui circular  icon button">
                            <i class="linkedin square blue large  icon"></i>
                        </a>
                        <br>
                        <br>
                        <span class="ui red large label">
                                <i class="mail icon"></i>prashant.kaushik@jiit.ac.in 
                            </span>
                    </div>
                </div>
            </div>
            <img src="/static/images/prashant.jpg" style="width:20em;height:20em">
        </div>
        <div class="content">
            <h3 class="ui center aligned header">Prof. Prashant Kaushik</h3>
        </div>
    </div>
    <div class="ui center aligned compact segment">
    </div>
  </div>
       
    <!-- <div class="ui basic large teal label">Faculty Coordinator</div>
    <br>
    <br>
    <img class="ui medium circular  image" src="/static/images/mkt_sir.jpg" style="height:20em">
    <div class="content">
        <h2 class="header">Dr. Manish K. Thakur</h2>
        <div class="meta">
            <a>Email id: manish.thakur@jiit.ac.in</a>
        </div>
    </div> -->
    <h2 class="ui horizontal divider header">
  <i class="big student icon"></i>
  Developers
</h2>
    <div class="ui four column doubling grid container">
        <div class="column">
            <div class="ui blurring dimmable circular image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <a href="https://www.facebook.com/Programmer007Datta?fref=ts" target="_blank" class="ui circular facebook large icon  button">
                                <i class="facebook large icon "></i>
                            </a>
                            <a href="https://in.linkedin.com/pub/tanmay-datta/9b/51a/409" target="_blank" class="ui circular  icon button">
                                <i class="linkedin square blue large  icon"></i>
                            </a>
                            <a href="https://github.com/tanmaydatta" target="_blank" class="ui circular  icon button">
                                <i class="github alternate large icon"></i>
                            </a>
                            <br>
                            <br>
                            <span class="ui red large label">
                                <i class="google icon"></i>tanmaydatta@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
                <img src="/static/images/tanmay.jpg">
            </div>
            <div class="content" style="padding-top:1em;"> 
                <h2 class="ui center aligned header">Tanmay Datta</h2>
            </div>
            <h5 class="extra  content" >
                <a class="ui center aligned container">
                    <i class="student black icon"></i>Full Stack Developer
                </a>
            </h5>
        </div>
        <div class="column">
            <div class="ui blurring dimmable circular image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <a href="https://www.facebook.com/naman.sancheti.35" target="_blank" class="ui circular facebook large icon  button">
                                <i class="facebook large icon "></i>
                            </a>
                            <a href="https://in.linkedin.com/in/namansancheti" target="_blank" class="ui circular  icon button">
                                <i class="linkedin square blue large icon"></i>
                            </a>
                            <a href="https://github.com/namansancheti" target="_blank" class="ui circular  icon button">
                                <i class="github alternate large icon"></i>
                            </a>
                            <br>
                            <br>
                            <span class="ui red large label">
                                <i class="google icon"></i>naman.sancheti@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
                <img src="/static/images/naman.jpg" style="height:18.30em">
            </div>
            <div class="content" style="padding-top:1em;">
                <h2 class="ui center aligned header">Naman Sancheti</h2>
            </div>
            <h5 class="extra center aligned content">
                <a class="ui center aligned container">
                    <i class="student black icon"></i>Android Developer
                </a>
            </h5>
        </div>
        <div class="column">
            <div class="ui blurring dimmable circular image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <a href="https://www.facebook.com/lovishm21?fref=ts" target="_blank" class="ui circular facebook large icon  button">
                                <i class="facebook large icon "></i>
                            </a>
                            <a href="https://in.linkedin.com/pub/lovish-mittal/78/6b3/66b" target="_blank" class="ui circular  icon button">
                                <i class="linkedin square blue large icon"></i>
                            </a>
                            <a href="https://github.com/underscore21" target="_blank" class="ui circular  icon button">
                                <i class="github alternate large icon"></i>
                            </a>
                            <br>
                            <br>
                            <span class="ui red large label">
                                <i class="google icon"></i>lovishmittal21@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
                <img src="/static/images/lovish.jpg">
            </div>
            <div class="content" style="padding-top:1em;">
                <h2 class="ui center aligned header">Lovish Mittal</h2>
            </div>
            <h5 class="extra  content">
                <a class="ui center aligned container">
                    <i class="student black icon"></i>Front-End Developer
                </a>
            </h5>
        </div>
        <div class="column">
            <div class="ui blurring dimmable circular image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <a href="https://www.facebook.com/nirmit.goyal.7" target="_blank" class="ui circular facebook large icon  button">
                                <i class="facebook large icon "></i>
                            </a>
                            <a href="https://in.linkedin.com/in/nirmitgoyal" target="_blank" class="ui circular  icon button">
                                <i class="linkedin square blue large icon"></i>
                            </a>
                            <a href="https://github.com/nirmitgoyal" target="_blank" class="ui circular  icon button">
                                <i class="github alternate large icon"></i>
                            </a>
                            <br>
                            <br>
                            <span class="ui red large label">
                                <i class="google icon"></i>nirmitgoyal.goyal@gmail.com
                            </span>
                        </div>
                    </div>
                </div>
                <img src="/static/images/nirmit.jpg">
            </div>
            <div class="content" style="padding-top:1em;">
                <h2 class="ui center aligned header">Nirmit Goyal</h2>
            </div>
            <h5 class="extra  content">
                <a class="ui center aligned container">
                    <i class="student black icon"></i>Front-End Developer
                </a>
            </h5>
        </div>
    </div>
    <br>
    <br>
    <label>View Coordinators:</label>
    <div class="ui fluid search selection dropdown">
        <input type="visible" name="coordinators">
        <i class="dropdown icon"></i>
        <div class="default text">View Coordinators </div>
        <div class="blue menu">
            <div class="item" data-value="2015"><i class="users icon"></i>2015 </div>
            <div class="item" data-value="2014"><i class="users icon"></i>2014</div>
            <div class="item" data-value="2013"><i class="users icon"></i>2013</div>
            <div class="item" data-value="2012"><i class="users icon"></i>2012 </div>
            <div class="item" data-value="2011"><i class="users icon"></i>2011 </div>
        </div>
    </div>
    <div class="ui segment"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<script type="text/javascript" src="/static/about_us.js"></script>
{% endblock %}
