<!DOCTYPE html>
<html>

<head>
    <title>Admin Login for Problem Set</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src='/static/angular.min.js'></script>
    <script src='/static/angular-cookies.min.js'></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="/static/markdown.min.js"></script>
    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="128x128">
    <link rel="manifest" href="/static/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- // <script src='/static/captcha.js'></script> -->
   
</head>

<body ng-app="knuth">
    <div class="ui padded container" style="margin-top:2em">
        <div class="ui form" ng-controller="markdown">
            <div class="field">
                <label>Problem Name</label>
                <input type="text" name="probname" ng-model="content.name" ng-change="toHTML_name()">
            </div>
            
            <div class="field">
                <label>Time Limit (in sec.) </label>
                <input type="number" name="time" ng-model="content.time">
            </div>
            <label>Tags: (feel free to add your own, and tags are searchable too)</label>
            <br>
            <div id="tag" class="ui fluid multiple search selection dropdown">
                <input id="tags" name="tags" type="hidden" ng-model="content.tags">
                <i class="dropdown icon"></i>
                <div class="default text">Tags</div>
                <div class="menu">
                    <!-- data-value is same as name -->
                    <div class="item" data-value="adhoc">adhoc</div>
                    <div class="item" data-value="backtracking">backtracking</div>
                    <div class="item" data-value="bfs">bfs</div>
                    <div class="item" data-value="bit">bit</div>
                    <div class="item" data-value="combinatorics">combinatorics</div>
                    <div class="item" data-value="dp">dp</div>
                    <div class="item" data-value="factorial">factorial</div>
                    <div class="item" data-value="graph-theory"> graph-theory</div>
                    <div class="item" data-value="heap">heap</div>
                    <div class="item" data-value="map">map</div>
                    <div class="item" data-value="memoization">memoization</div>
                    <div class="item" data-value="preprocessing">preprocessing</div>
                    <div class="item" data-value="recursion">recursion</div>
                    <div class="item" data-value="segment-tree">segment-tree</div>
                    <div class="item" data-value="sorting">sorting</div>
                </div>
            </div>
            <br>
            <label>Difficulty Level:</label>
            <div id="level" class="ui selection dropdown">
                <input type="hidden" id="prob_level" name="level" ng-model="content.level">
                <i class="dropdown icon"></i>
                <div class="default text">Difficulty Level:</div>
                <div class="menu">
                    <div class="item" data-value="easy">easy</div>
                    <div class="item" data-value="medium">medium</div>
                    <div class="item" data-value="hard">hard</div>
                    <div class="item" data-value="peer">peer</div>
                </div>
            </div>
            <div class="field">
                <label>Problem</label>
                <textarea rows="12" ng-model="content.statement" ng-change="toHTML()"></textarea>
            </div>
            <div class="ui raised segment" id="m2html">
            </div>
            <div class="field">
                <label>Input</label>
                <textarea rows="2" ng-model="content.ip" ng-change="toHTML_ip()"></textarea>
            </div>
            <div class="ui segment" id="m2html_ip">
            </div>
            <div class="field">
                <label>Output</label>
                <textarea rows="2" ng-model="content.op" ng-change="toHTML_op()"></textarea>
            </div>
            <div class="ui segment" id="m2html_op">
            </div>
            <div class="field">
                <label>Sample Input</label>
                <textarea rows="2" ng-model="content.sip" ng-change="toHTML_sip()"></textarea>
            </div>
            <div class="ui segment" id="m2html_sip">
            </div>
            <div class="field">
                <label>Sample Output</label>
                <textarea rows="2" ng-model="content.sop" ng-change="toHTML_sop()"></textarea>
            </div>
            <div class="ui segment" id="m2html_sop">
            </div>
            <button id="submit" class="ui green button" type="submit" ng-click="submitpro()" style="margin-bottom:50px">Submit</button>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/add_problem.js"></script>

</html>
