<!DOCTYPE html>
<html>

<head>
    <title>Admin Login for Problem Set</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src='/static/angular.min.js'></script>
    <script src='/static/angular-cookies.min.js'></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <!-- // <script src='/static/captcha.js'></script> -->
</head>

<body>
    <div class="ui padded grid">
        <div class="ui form">
            <div class="field">
                <label>Problem Name</label>
                <input type="text" name="probname">
            </div>
            <br>
            <label>Tags (max 5):</label>
            <br>
            <div class="fields">
                <div class="field">
                    <input type="text" name="tag">
                </div>
                <div class="field">
                    <input type="text" name="tag">
                </div>
                <div class="field">
                    <input type="text" name="tag">
                </div>
                <div class="field">
                    <input type="text" name="tag">
                </div>
                <div class="field">
                    <input type="text" name="tag">
                </div>
            </div>
            <label>Difficulty Level:(Easy | Medium | Hard | Peer)</label>
            <div class="field">
                <input type="text" name="level">
            </div>
            <!-- 
            <div class="inline fields">
                <label >Difficulty Level:(Easy | Medium | Hard | Peer)</label>
                <div class="field">
                    <div class="ui slider checkbox">
                        <input type="radio" name="easy" checked="" tabindex="0" class="hidden">
                        <label>Easy</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui slider checkbox">
                        <input type="radio" name="medium" tabindex="0" class="hidden">
                        <label>Medium</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui slider checkbox">
                        <input type="radio" name="hard" tabindex="0" class="hidden">
                        <label>Hard</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui slider checkbox">
                        <input type="radio" name="peer" tabindex="0" class="hidden">
                        <label>Peer</label>
                    </div>
                </div>
            </div> -->
            <div class="field">
                <label>Problem</label>
                <textarea rows="18  "></textarea>
            </div>
            <button id="" class="ui green button" type="submit">Submit</button>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/add_problem.js"></script>

</html>
