{% extends "parent.html" %} {% block child %}
<div class="ui active tab raised segment">
<div class="ui  segment">
  <h3 class="ui dividing center aligned header">Infinite Scroll Example</h3>
  <p></p>
  <div class="ui divider"></div>
  <p></p>
  <div class="ui divider"></div>
  <p></p>
  <div class="ui divider"></div>
  <p></p>
  <div class="ui divider"></div>
  <h3 class="ui header">Loaded Content #1</h3><p></p><p></p><p></p><h3 class="ui header">Loaded Content #2</h3><p></p><p></p><p></p><h3 class="ui header">Loaded Content #3</h3><p></p><p></p><p></p><div class="ui large centered inline text loader">
    Adding more content...
  </div>
</div>
</div>
<script type="text/javascript" src="/static/discuss.js"></script>
{% endblock %}
