{% extends "parent.html" %} {% block child %}
<meta name="keywords" content="css3, experiment, 3d, unfolding, fold, paper, component, element, web design, jquery, plugin, perspective" />
<link rel="shortcut icon" href="/static/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/demo.css" />
<link rel="stylesheet" type="text/css" href="/static/pfold.css" />
<link rel="stylesheet" type="text/css" href="/static/custom2.css" />
<script type="text/javascript" src="/static/modernizr.custom.79639.js"></script>
<div class="ui active tab raised segment">
    <div class="two column ui grid">
        <div class="sixteen wide compact column">
            <section class="main demo-2">
                <div id="grid" class="grid clearfix">
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <div class="uc-container">
                        <div class="uc-initial-content">
                            <img src="/static/images/thumbs/3.jpg" alt="image03" />
                            <span class="icon-eye"></span>
                        </div>
                        <div class="uc-final-content">
                            <img src="/static/images/large/3.jpg" alt="image03-large" />
                            <span class="icon-cancel"></span>
                        </div>
                    </div>
                    <!-- / uc-container -->
                </div>
                <!-- / grid -->
            </section>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/jquery.pfold.js"></script>
<script type="text/javascript" src="/static/facebook.js"></script>
<!-- <section class="main demo-2">
            <div id="grid" class="grid1 clearfix">
                <div class="uc-container">
                    <div class="uc-initial-content">
                        <img src="/static/images/thumbs/3.jpg" alt="image03" />
                        <span class="icon-eye"></span>
                    </div>
                    <div class="uc-final-content">
                        <img src="/static/images/android.png" alt="image03-large" />
                        <span class="icon-cancel"></span>
                    </div>
                </div>
         -->
<!--             <div class="ui  images">
                <img <center></center>lass="ui rounded image" src="/static/images/logo.png">
                <img class="ui rounded image" src="/static/images/logo.png">
                <img class="ui rounded image" src="/static/images/logo.png">
                <img class="ui rounded image" src="/static/images/logo.png">
                <img class="ui rounded image" src="/static/images/logo.png">
                <img class="ui rounded image" src="/static/images/logo.png">
                <img class="ui rounded image" src="/static/images/logo.png">
            </div> -->
<!-- <div class="seven wide column">
            <h2 class="ui icon center aligned header">
  <i class="comments outline icon"></i>
  <div class="content">
    Top 10 Posts
  </div>
</h2>
            <div class="ui stacked segment">
                This is an amazing story about Riza -- a young woman on a small island where the only job for women was world so one day everyone can achieve their full human potential -- just like Riza.
            </div>
        </div> -->
{% endblock %}
