{% extends "parent.html" %} {% block child %}
<div class="ui top attached active tab segment">
    <div class="ui  grid">
        <div class="four wide column">
            <div class="ui container">
                <div class="ui stacked  segment">
                    <a href="/album1" target="_blank" class="ui spaced image">
                        <img src="/static/images/android_hands.jpg">
                    </a>
                </div>
                <div class="ui center aligned container">
                    <div class="ui compact menu">
                        <a class="item" href="/album1" target="_blank">
                            <i class="large purple	 icon grid layout"></i> Exebit 14
                            <div class="floating ui red label">22 pics</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui container">
                <div class="ui stacked  segment">
                    <a href="/album1" target="_blank" class="ui spaced image">
                        <img src="/static/images/android_hands.jpg">
                    </a>
                </div>
                <div class="ui center aligned container">
                    <div class="ui compact menu">
                        <a class="item" href="/album1" target="_blank">
                            <i class="brown icon grid layout"></i> Exebit 14
                            <div class="floating ui red label">22 pics</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui container">
                <div class="ui stacked  segment">
                    <a href="/album1" target="_blank" class="ui spaced image">
                        <img src="/static/images/android_hands.jpg">
                    </a>
                </div>
                <div class="ui center aligned container">
                    <div class="ui compact menu">
                        <a class="item" href="/album1" target="_blank">
                            <i class="brown icon grid layout"></i> Exebit 14
                            <div class="floating ui red label">22 pics</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui container">
                <div class="ui stacked  segment">
                    <a href="/album1" target="_blank" class="ui spaced image">
                        <img src="/static/images/android_hands.jpg">
                    </a>
                </div>
                <div class="ui center aligned container">
                    <div class="ui compact menu">
                        <a class="item" href="/album1" target="_blank">
                            <i class="brown icon grid layout"></i> Exebit 14
                            <div class="floating ui red label">22 pics</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui container">
                <div class="ui stacked  segment">
                    <a href="/album1" target="_blank" class="ui spaced image">
                        <img src="/static/images/android_hands.jpg">
                    </a>
                </div>
                <div class="ui center aligned container">
                    <div class="ui compact menu">
                        <a class="item" href="/album1" target="_blank">
                            <i class="brown icon grid layout"></i> Exebit 14
                            <div class="floating ui red label">22 pics</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui container">
                <div class="ui stacked  segment">
                    <a href="/album1" target="_blank" class="ui spaced image">
                        <img src="/static/images/android_hands.jpg">
                    </a>
                </div>
                <div class="ui center aligned container">
                    <div class="ui compact menu">
                        <a class="item" href="/album1" target="_blank">
                            <i class="brown icon grid layout"></i> Exebit 14
                            <div class="floating ui red label">22 pics</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui container">
                <div class="ui stacked  segment">
                    <a href="/album1" target="_blank" class="ui spaced image">
                        <img src="/static/images/android_hands.jpg">
                    </a>
                </div>
                <div class="ui center aligned container">
                    <div class="ui compact menu">
                        <a class="item" href="/album1" target="_blank">
                            <i class="brown icon grid layout"></i> Exebit 14
                            <div class="floating ui red label">22 pics</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui container">
                <div class="ui stacked  segment">
                    <a href="/album1" target="_blank" class="ui spaced image">
                        <img src="/static/images/android_hands.jpg">
                    </a>
                </div>
                <div class="ui center aligned container">
                    <div class="ui compact menu">
                        <a class="item" href="/album1" target="_blank">
                            <i class="brown icon grid layout"></i> Exebit 14
                            <div class="floating ui red label">22 pics</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui container">
                <div class="ui stacked  segment">
                    <a href="/album1" target="_blank" class="ui spaced image">
                        <img src="/static/images/android_hands.jpg">
                    </a>
                </div>
                <div class="ui center aligned container">
                    <div class="ui compact menu">
                        <a class="item" href="/album1" target="_blank">
                            <i class="brown icon grid layout"></i> Exebit 14
                            <div class="floating ui red label">22 pics</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!--  -->
    </div>
</div>
<script src="/static/.js"></script>
{% endblock %}
