<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    <script src="/static/jquery.min.js"></script>
    <script src='/static/angular.min.js'></script>
    <script src='/static/angular-cookies.min.js'></script>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <!-- // <script src='/static/captcha.js'></script> -->
</head>

<body>
    <label>Enter username: </label>
    <div class="ui input focus">
        <input type="text" placeholder="Username">
    </div>
    <button class="fluid ui green button" onclick="modal()">Get Email for further instructions</button>

    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Modal Title
        </div>
        <div class="image content">
            <div class="image">
                An image can appear on left or an icon
            </div>
            <div class="description">
                A description can appear on the right
            </div>
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
        </div>
    </div>
</body>
