<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/static/angular.min.js"></script>
        <script type="text/javascript" src="/static/file_upload.js"></script>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>JIIT-Knuth Hub</title>
        <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
        <script src='/static/angular-cookies.min.js'></script>
        <script type="text/javascript" src="/static/jquery.min.js"></script>
        <script type="text/javascript" src="/static/markdown.min.js"></script>
        <script src="/static/semantic/dist/semantic.min.js"></script>
        <script type="text/javascript" src="/static/parent.js"></script>
        {% block head %}{% endblock %}
    </head>
    <script type="text/javascript">
    //   var blogapp = angular.module("newblog", ["ngCookies"]);
    // blogapp.controller("blogctrl", ['$scope', '$http', '$element', '$cookies',
    //     function($scope, $http, $element, $cookies) {
    //       $scope.texta=" ";
    //     }
    //     ]);
    </script>
    <body ng-app="knuth">
        <!-- this segment is containing the whole content -->
        <div>
            <div id="stick_it" class="ui container inverted clearing segment" style="background:white; width:1200px">
                <div class="ui" style="width: 100% !important; height: 43px !important; left: 312px;">
                    <a href="/" class="right rounded spaced image">
                        <img src="/static/images/logo.png" height="50" width="200">
                        <!-- Knuth-JIIT -->
                    </a>
                    <div ng-controller="signout" class="ui right floated buttons">
                        {% if login_user %}
                            <a href="/profile/{{login_user}}" class="ui blue animated icon button" tabindex="0">
                                <div class="visible content">{{login_user}}</div>
                                <div class="hidden content">
                                    <i class="medium sign in icon"></i>
                                </div>
                            </a>
                            <a ng-click="signout()" class="ui green animated icon button" tabindex="0">
                                <div class="visible content">Sign Out</div>
                                <div class="hidden content">
                                    <i class="medium reply all icon"></i>
                                </div>
                            </a>
                        {% else %}
                            <a href="/signin" class="ui blue animated icon button" tabindex="0">
                                <div class="visible content">Login</div>
                                <div class="hidden content">
                                    <i class="medium sign in icon"></i>
                                </div>
                            </a>
                            <a href="/signup" class="ui green animated icon button" tabindex="0">
                                <div class="visible content">Sign Up</div>
                                <div class="hidden content">
                                    <i class="medium reply all icon"></i>
                                </div>
                            </a>
                        {% endif %}
                        
                        <!-- <div class="or"></div> -->
                        
                    </div>
                </div>
                <div id="clear_menu" class="ui sticky large icon menu">
                    <div class="ui container" id="main_menu">
                        <a class="active item" href="/">
                            <i class="home icon"></i> Home
                        </a>
                        <a class="item" href="/ratings">
                            <i class="student icon"></i> Ratings
                        </a>
                        <a class="item" href="/events">
                            <i class="calendar icon"></i> Events
                        </a>
                        <a class="item" href="/discuss">
                            <i class="feed   icon"></i>
                            <!-- announcement -->
                            Discuss
                        </a>
                        <a class="item" href="/problems">
                            <i class="code icon"></i> Problems
                        </a>
                        <a class="item" href="/facebook">
                            <i class="facebook icon"></i> Facebook
                        </a>
                        <a class="item" href="/about">
                            <i class="smile icon"></i> About Us
                        </a>
                    </div>
                </div>
                {% block child %}{% endblock %}
            </div></div>
            {% block end %}{% endblock %}
        </body>
        <script type="text/javascript">
        $('#clear_menu')
        .sticky({
        context: '#stick_it'
        });
        </script>
    </html>