<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="/static/angular.min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>JIIT-Programming Hub</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script src='/static/angular-cookies.min.js'></script>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/markdown.min.js"></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="/static/tablesort.min.js"></script>
    <script type="text/javascript" src="/static/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/table.css">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="128x128">
    <link rel="manifest" href="/static/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">    
    {% block head %}{% endblock %}
</head>
<body ng-app="knuth">
    <!-- this segment is containing the whole content -->
    <div>
        <div id="stick_it" class="ui container  clearing segment" style="background:white; width:1200px">
            <div class="ui" style="width: 100% !important; height: 43px !important; left: 312px;">
                <!-- <div href="/" class="right rounded spaced image"> -->
                <img src="/static/images/logo.png" height="50" width="200">
                <!-- Knuth-JIIT -->
                <!-- </div> -->
                <div ng-controller="signout" class="ui right floated buttons">
                    <a class="ui animated fade grey compact icon button" tabindex="0" href="" target="_blank">
                        <div class="visible content"><i class="android large green icon"></i>
                            <font>Download App</font>
                        </div>
                        <div class="hidden fluid content">
                            <img src="/static/images/android.png" height="80px" width="120px" style="padding-bottom:4em;padding-top:-3em;">
                        </div>
                    </a>
                    <!-- <a class="ui animated fade grey compact labeled icon button" tabindex="0" href="">
                        <div class="visible content"  ><i class="android large green icon"></i>Download App</div>
                        <div class="hidden fluid content">
                            <img  src="/static/images/android.png"  height="70" style="padding-bottom:3em">
                        </div> 
                    </a> -->
                    {% if login_user %}
                    <a href="/profile/{{login_user}}" class="ui blue animated icon button" tabindex="0">
                        <div class="visible content">{{login_user}}</div>
                        <div class="hidden content">
                            <i class="medium sign in icon"></i>
                        </div>
                    </a>
                    <a ng-click="signout()" class="ui green animated icon button" tabindex="0">
                        <div class="visible content">Sign Out</div>
                        <div class="hidden content">
                            <i class="medium reply all icon"></i>
                        </div>
                    </a>
                    {% else %}
                    <a href="/signin" class="ui blue animated icon button" tabindex="0">
                        <div class="visible content">Login</div>
                        <div class="hidden content">
                            <i class="medium sign in icon"></i>
                        </div>
                    </a>
                    <a href="/signup" class="ui green animated icon button" tabindex="0">
                        <div class="visible content">Sign Up</div>
                        <div class="hidden content">
                            <i class="medium reply all icon"></i>
                        </div>
                    </a>
                    {% endif %}
                    <!-- <div class="or"></div> -->
                </div>
            </div>
            
            <div id="clear_menu" class="ui inverted fixed sticky labeled icon large pointing menu">
                <!-- <div id="clear_menu" class="ui sticky large icon menu"> -->
                <div class="ui container" id="main_menu">
                    <a id="home" class="item" href="/">
                        <i class="home icon"></i> Home
                    </a>
                    {% if login_user %}
                    <a id="profile" class="item" href="/profile/{{login_user}}">
                        <i class="user icon"></i> Profile
                    </a>
                    {% endif %}
                    <a id="ratings" class="item" href="/ratings/1">
                        <i class="student icon"></i> Ratings
                    </a>
                    <a id="events" class="item" href="/events">
                        <i class="calendar icon"></i> Events
                    </a>
                    <a id="discuss" class="item" href="/discuss">
                        <i class="feed   icon"></i> Forum
                        <!-- announcement -->
                        <!-- Discuss -->
                    </a>
                    <a id="problems" class="item" href="/problemset">
                        <i class="code icon"></i> Problems
                    </a>
                    <a id="facebook" class="item" href="/facebook">
                        <i class="facebook blue icon"></i> Facebook
                    </a>
                    <a id="about_us" class="item" href="/about">
                        <i class="<!-- smile --> info circle icon"></i> About Us
                    </a>
                </div>
            </div>
            {% block child %}{% endblock %}
        </div>
    </div>
    {% block end %}{% endblock %}
</body>
<script type="text/javascript" src="/static/parent.js"></script>
<script type="text/javascript" src="/static/settings.js"></script>
</html>
