{% extends "parent.html" %} {% block child %}
<div class="ui active tab raised segment">
    <div class="ui compact      menu">
        <a href="/problemset/" class="link item">Back to Problem Set</a>
        <a class="link item">Submissions</a>
    </div>
    <br>
    <br>
    <div class="two column equal height ui grid">
        <div class="eleven wide column ">
            <div class="ui first center aligned raised segment">
                <div class="ui teal label" id="name">{{problem.name}}</div>
                <div class="ui center aligned  segment">
                    <label> Time limit per test file:
                        <label id="time">{{problem.time_limit}} second</label>
                    </label>
                    <br>
                    <label> Memory limit per test file:
                        <label id="memory">256 MB</label>
                    </label>
                    <br>
                    <label> Input:
                        <label>STDIN</label>
                    </label>
                    <br>
                    <label> Output:
                        <label>STDOUT</label>
                    </label>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui basic label">Problem Statement</div>
            <br>
            <br>
            <p id="problem"> {{problem.statement|safe}}
            </p>
            <div class="ui divider"></div>
            <label class="ui basic label">Input:</label>
            <p i="input">{{problem.input|safe}}</p>
            <div class="ui divider"></div>
            <label class="ui basic label">Output:</label>
            <p i="output">{{problem.output|safe}}</p>
            <div class="ui divider"></div>
            <label>Sample Tests:</label>
            <div class="ui segment">
                <div class="ui raised segment" id="ip_test">
                    <div class="ui top attached label">INPUT</div>
                    <div class="ui container">
                        {{problem.sample_input|safe}}
                    </div>
                </div>
                <div class="ui raised segment" id="op_test">
                    <div class="ui top attached label">OUTPUT</div>
                    <div class="ui container">
                        {{problem.sample_output|safe}}
                    </div>
                </div>
            </div>
        </div>
        <div id="stick" class="five wide column">
            <div class="ui sticky raised  container" style="min-height: 527px;">
                <div class="ui sticky" style="width: 294px !important; height: 527px !important; left: 613.5px;">
                    <br>
                    <br>
                    <div class="ui segment">
                        <div class="ui top attached teal large label">Submit</div>
                        <br>
                        <br>
                        <div class="ui fluid floating right labeled icon dropdown button">
                            <i class="large code icon"></i>
                            <span class="text">Select Language</span>
                            <div class="menu">
                                <!-- <div class="header">
                                    Search Issues
                                </div> -->
                                <!-- <div class="ui left icon input">
                                    <i class="search icon"></i>
                                    <input type="text" name="search" placeholder="Search...">
                                </div> -->
                                <!-- <div class="header">
                                    <i class="tags icon"></i> Filter by tag
                                </div> -->
                                <div class="item" data-value="c">
                                    <div class="ui red empty circular label"></div>
                                    C
                                </div>
                                <div class="item" data-value="c++">
                                    <div class="ui red empty circular label"></div>
                                    C++
                                </div>
                                <div class="item" data-value="java">
                                    <div class="ui red empty circular label"></div>
                                    JAVA
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="field">
                            <div class="ui action input">
                                <input type="text" id="_attachmentName">
                                <label for="attachmentName" class="ui icon button btn-file">Choose File
                                    <i class="attach large icon"></i>
                                    <input placeholder="choose file" type="file" id="attachmentName" name="attachmentName" style="display: none">
                                </label>
                            </div>
                        </div>
                        <br>
                        <button class="positive ui button">Submit</button>
                    </div>
                    <div class="ui segment">
                        <div class="ui top attached teal large label">Problem Tags</div>
                        {% for tag in problem.tags %}
                        <a href="" target="_blank" id="tag1" class="ui label">
                            {{tag}}
                        </a>
                        {% endfor %}
                    </div>
                    <div class="ui segment">
                        <div class="ui top attached teal large label">Study material</div>
                        <a href="" target="_blank" id="editorial" class="ui label">
                            Editorial
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<script type="text/javascript" src="/static/problems.js">
</script>
{% endblock %}
