{% extends "parent.html" %} {% block child %}
<div class="ui active tab raised segment">
    <div class="ui teal large label">
        <i class="code icon"></i> Problems :
    </div>
    <table class="ui sortable selectable padded celled table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Tags</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody class="problems">
            {% for problem in problems %}
            <tr>
                <td>
                    {{ problem.prob_id }} </td>
                <td><a target="_blank" href="/problem/{{problem.prob_id}}">
                    {{ problem.name }} </a></td>
                <td>
                    {% for tag in problem.tags %}
                    {{tag}}&nbsp;
                    {% endfor %}
                </td>
                <td>
                    {{ problem.level }} </td>
            </tr>
            {% endfor %}
      <!--       <tr>
                <td>id</td>
                <td><a href="/problems/" id="">name</a></td>
                <td>tag,tag,tag</td>
                <td>level</td>
            </tr>
            <tr>
                <td>id</td>
                <td><a href="/problems/" id="">name</a></td>
                <td>tag,tag,tag</td>
                <td>level</td>
            </tr>
            <tr>
                <td>id</td>
                <td><a href="/problems/" id="">name</a></td>
                <td>tag,tag,tag</td>
                <td>level</td>
            </tr>
            <tr>
                <td>id</td>
                <td><a href="/problems/" id="">name</a></td>
                <td>tag,tag,tag</td>
                <td>level</td>
            </tr>
            <tr>
                <td>id</td>
                <td><a href="/problems/" id="">name</a></td>
                <td>tag,tag,tag</td>
                <td>level</td>
            </tr>
            <tr>
                <td>id</td>
                <td><a href="/problems/" id="">name</a></td>
                <td>tag,tag,tag</td>
                <td>level</td>
            </tr>
            <tr>
                <td>id</td>
                <td><a href="/problems/" id="">name</a></td>
                <td>tag,tag,tag</td>
                <td>level</td>
            </tr>
            <tr>
                <td>id</td>
                <td><a href="/problems/" id="">name</a></td>
                <td>tag,tag,tag</td>
                <td>level</td>
            </tr> -->
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">
                    <div class="ui  pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        {% for i in range(0,count) %}
                        <a href="/problemset/page/{{i+1}}" class="item">{{i+1}}</a>
                        {% endfor %}
                        <!-- <a class="item">2</a> -->
                        <!-- <a class="item">3</a> -->
                        <!-- <a class="item">4</a> -->
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<br>
<br>
<br>
<script type="text/javascript">
    $('table').tablesort();
</script>
{% endblock %}
