{% extends "base_profile.html" %}
{% block body %}
<!-- <div ng-include src="'public/views/base_profile.html'"></div> -->
  <div  class="ui padded clear grid form">
    <div class=" twelve wide column">
      <h1>
      <a href="/profile/{{user.username}}" class='item'>
        {{user.username}}
      </a>
      </h1>
      <div class="ui form" style="color:black;font-size:16px">
        <ul>
          <li >
            <div id="year">
              <i class="book icon"></i>
              <span>Year: 3rd Year</span>
            </div>
          </li>
          <li>
            <div id="college_rating">
              <i class="code icon"></i>
              <span>College Rating: {{user.rating}}</span>
            </div>
          </li>
          <li>
            <div id="codechef_rating">
              <i class="code icon"></i>
              <span>Codechef Rating: {{user.ccrating}}</span>
            </div>
          </li>
          <li>
            <div id="codeforces_rating">
              <i class="code icon"></i>
              <span>Codeforces Rating: {{user.cfrating}}</span>
            </div>
          </li>
          <li>
            <div id="email">
              <i class="mail outline icon"></i>
              <span id="email_id">{{user.email}}</span>
            </div>
          </li>
          <li>
            <div class="item">
              <div class="ui blue medium horizontal label">Contribution:</div>
              <div class="ui medium label">{{upvotes}}
                <i class="thumbs outline up icon"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="ui vertical divider">      </div> -->
    <div class="four wide center aligned column">
      <img id="image_pad" class="ui medium circular image" src="{{user.pic}}">
    </div>
  </div>
  <script type="text/javascript" src="/static/profile.js"></script>
{% endblock %}