<!DOCTYPE html>
<html>

<head>
    <title>Select Option</title>
    <link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">
    <script src="/static/jquery.min.js"></script>
    <script src='/static/angular.min.js'></script>
    <script src='/static/angular-cookies.min.js'></script>
    <script src="/static/semantic/dist/semantic.min.js"></script>
    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="128x128">
    <link rel="manifest" href="/static/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- // <script src='/static/captcha.js'></script> -->
</head>

<body ng-app="select">
    <div class="ui container" style="margin-left:30%;margin-right:30%;margin-top:3%;margin-bottom:3%;width:600px" ng-controller="selectctrl">
        <a class="ui large fluid buttons">
            <a class="ui blue button" href="/add_problem">Add Problem</a>
            <div class="or"></div>
            <button class="ui green button" ng-click="admin_token()">Get Admin access token</button>
        </a>
    </div>
</body>
<script src='/static/select.js'></script>

</html>
